


 

 
  @import {
   url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
  }

.tittle {

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.formulario {
  box-sizing:border-box;
  display: block;
  position: relative;
  margin:auto;
  width: 60%;
}

input {
  box-sizing: border-box;
  width: 100%;
}

.formulario fieldset {
  border: none;
}

.container {
  border-style:solid;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 2em;
}

.legend {
  text-decoration: underline;
  font-size: 1.5em;
  
}

.button {
  display: flex;
  margin-left: auto;
  
}

label {
  display: inline-flex;
}

p {
  font-weight: bold;
}

.campo {
 margin-bottom: 1em;
}

span {
color: #FF0000; 
}

 



.heading 



textarea {
  display: block;
  width: 100%;
  }